body {
    background: coral;
}

.container {
    padding: 10px 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 170px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li ::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0a0a0a;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: o.5s;
}

nav ul li a:hover ::after {
    width: 100%;
    color: blue;
    font-weight: bold;
}

.boxes {
    margin-top: 10px;
}

.box {
    float: left;
    text-align: centre;
    width: 100%;
    padding: 5px;
    columns: 290px;
}

.box ul li span {
    color: white;
    font-size: 20px;
}

.h4 {
    font-size: 30px;
    margin-top: 0px;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 30px;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    height: 400px;
    width: 100%;
    transition: all 0.05s ease;
    justify-content: center;
}

.images input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff;
    cursor: pointer;
    transition: all 0.05s ease;
    margin: 5px;
}

.dots label:hover {
    background: #fff;
}

#img1:checked~.m1 {
    margin-left: 0;
}

#img2:checked~.m2 {
    margin-left: -20%;
}

#img3:checked~.m3 {
    margin-left: -50%;
}

#img4:checked~.m4 {
    margin-left: -70%;
}

#img5:checked~.m5 {
    margin-left: -90;
}

#img6:checked~.m6 {
    margin-left: -100%;
}

#img7:checked~.m7 {
    margin-left: -120%;
}